<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025158548218-4rv2b42fa25dthuvmiippjgb1vm247u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025158548218-4rv2b42fa25dthuvmiippjgb1vm247u8</string>
	<key>API_KEY</key>
	<string>AIzaSyCN38-L7ekPiBoCjJch-mM8YtGZs7fhINw</string>
	<key>GCM_SENDER_ID</key>
	<string>1025158548218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-bba4f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-bba4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025158548218:ios:840a2cc8492f32ae579743</string>
</dict>
</plist>